/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.header {
    width: 100%;
    margin: 0 16px 200px 16px;
}

.inner-header {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.header-menu {
    width: 100%;
    height: 82px;
    margin: 34px 0 68px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 48px;
    background: var(--second-content-color);
    border: 2px solid var(--main-font-color);
    -webkit-box-shadow: 2px 2px 0px var(--main-font-color);
            box-shadow: 2px 2px 0px var(--main-font-color);
    border-radius: 12px;
}

.header-logo img {
    max-width: 238px;
    width: 100%;
}

.logo {
    z-index: 102;
}

.header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 48px;
}

.header-nav li a {
    font-weight: var(--fw-db);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

.header-nav li a:hover {
    color: #5d74f2;
}

.header-nav li a:hover::after {
    width:100%;
}

.header-nav li a:after {
    position: absolute;
    content: "";
    bottom: -2px;
    width: 0;
    left: 0;
    height: 3px;
    background: #5d74f2;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;;
}

.header-contacts {
    font-weight: var(--fw-b);
    z-index: 40000;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header-contacts:hover {
    color:#5d74f2;
}

.header-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    position: relative;
}

.left-header-tiles-block,
.right-header-tiles-block {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.left-header-tiles-block {
    left: -40px;
    top: 0;
}
.left-header-tiles-block img:nth-child(2) {
    margin-left: 80px;
    margin-top: -10px;
}
.left-header-tiles-block img:nth-child(3) {
    margin-left: 120px;
    margin-top: 10px;
}

.right-header-tiles-block {
    right: -20px;
    top: -30px;
}

.right-header-tiles-block img:nth-child(2) {
    margin-left: 90px;
}
.right-header-tiles-block img:nth-child(3) {
    margin-left: 90px;
    margin-top: 20px;
}

.header-content-bg {
    width: 100%;
}

.header-content-title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: var(--fw-b);
    gap: 14px;
}

.header-content-title-top span {
    color: var(--main-content-color);
}

.header-content-title-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    gap: 30px;
}

.header-content-title-bottom button {
    padding: 24px 32px;
    background: #5d74f2;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: var(--fw-db);
    margin-bottom: 7px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header-content-title-bottom button:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}